.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.App-Label{
  font-size: calc(13vw);
}
.App-logo {
  height: 40vmin;
  width:80%;
  pointer-events: none;
}

.App-logo-small {
  height: 8vmin;
  width:20%;
}

.App-header {
  background-color: #38b6ff;
  min-height: 40vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-small {
  background-color: #38b6ff;
  height: 10vh;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
